@mixin displayFlex() {
    display: none;
    flex-direction: column;
}

@mixin positionPadding() {
    position: absolute;
    top: 30%;
    left: 40%;
    padding: 2rem;
}

@mixin btnStyle() {
    outline: none;
    cursor: pointer;
    margin: 1rem;
    font: 1rem Arial, sans-serif;
    padding: 0.5rem;
    border: none;
    color: white;
    background: rgb(52, 6, 71);
}